.eventGroup .title {
    font-size:16pt;
    font-weight:bold;
    text-transform: lowercase;
    margin-top:20px;
}

.eventGroup:first-child .title {
    margin-top:0px;
}

.ui .segment .title {
    font-size:12pt;
    font-weight:normal;
    margin-top:0px;
    color:black;
}

.ui .event.segment:hover {
    background-color:rgba(0,0,0,.1);
}

.ui .event.segment:active {
    background-color:rgba(0,0,0,.2);
}

#eventOverview .event .time {
    float:left;
    margin-right:10px;
    color:rgba(0,0,0,.6);
}

.padded {
    padding-top:30px;
}

.ui.red.segment.filter:first-child {
    margin-top:33px;
    padding:0px;
}

.ui.red.segment.filter:first-child .item {
    padding:10px;
}

.filter #title {
    font-size:14pt;
    font-weight:bold;
}

.filter .item:hover {
    cursor:pointer;
}

.filter .item.selected {
    background-color: rgb(255, 229, 222);
    font-weight:bold;
}